body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

#wrapper {
  flex: 1; /* Or flex-grow: 1;*/
}

.stf-bg-1 {
    background-image: url('../images/background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.stf-bg-2 {
    background-image: url('../images/background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.stf-bg-3 {
    background-image: url('../images/background-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/*
.intro-section-image {
    background-image: url('../images/intro-section-image.png');
}*/

.stf-main-nav-list-item:last-child a {
    padding-right: 0;
}


li.stf-main-nav-list-item {
    margin-bottom: 10px;
}

li.stf-main-nav-list-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #376979;
    transition: width .3s;
}

li.stf-main-nav-list-item a:hover::after {
    width: 100%;
    transition: width .3s;
}

.mc-embedded-subscribe {
    margin-left: -10%;
    height: 35px;
    width: 10%;
    appearance: none;
    font-size: 13px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    position: absolute;
}

// .mc-embedded-subscribe-form {
//     input::placeholder,
//     textarea::placeholder {
//         opacity: 1;
//         color: #a1a1aa;
//     }
// }

.section-connect-cta i.fab {
    line-height: 1.8rem;
}

.section-connect-cta .social-buttons li {
    background-color: #2D5F6E;
}

.section-connect-cta .social-buttons li > a {
    color: #A9DDED;
}

.section-connect-cta .social-buttons li:hover {
    background-color: #C9273E;
}

.section-connect-cta .social-buttons li:hover > a {
    color: #A9DDED;
}

.section-footer .social-buttons li {
    background-color: #FFFFFF;
}

.section-footer .social-buttons li > a {
    color: #2D5F6E;
}

.section-footer .social-buttons li:hover {
    background-color: #C9273E;
}

.section-footer .social-buttons li:hover > a {
    color: #FFFFFF;
}

.section-footer .social-buttons h3,
.section-footer .social-buttons ul {
    float: none;
    clear: both;
}

.section-footer .social-buttons h3,
.section-footer .social-buttons ul {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    min-height: 33px;
}

.section-page-content .description h3 {
    font-family: bellota;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.section-page-content .description ul {
    list-style-type: square;
    padding-left: 20px;
    margin: 0;
}

.page-content {
    a {
        text-decoration: underline;
        color: #C9273E;

        &:hover {
            color: #2D5F6E;
        }
    }
}

.card-event--image {
    display: block;
    position: relative;

    .event-badge {
        position: absolute;
        top: 0;
        margin-top: 1rem;
        left: -1rem;
        box-shadow: 2px 2px 0px rgba(201, 39, 62, 0.5);
    }
}

.image.image-style-align-center {
    img {
        margin-right: auto;
        margin-left: auto;
    }
}

#contact-form {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [multiple],
    textarea,
    textarea,
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        border-width: 1px;
        border-radius: 3px;
        padding-top: 0.5rem;
        padding-right: 0.75rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
    }

    [type="submit"] {
        appearance: none;
        cursor: pointer;
        border-width: 1px;
        border-radius: 3px;
        padding-left: 20px;
        height: 35px;
        padding-right: 20px;
    }
}

.review-text {
    p {
        display: inline;
    }
}

.page-content,
.description {
    figure.image {
        width: 50%;
        margin: 2rem auto;
        max-width: 100%;
    }
}
