.stf-bg-1 {
    background-image: url('/assets/images/background-1.png');
}

.stf-bg-2 {
    background-image: url('/assets/images/background-2.png');
}

.stf-bg-3 {
    background-image: url('/assets/images/background-3.png');
}

.intro-section-image {
    background-image: url('/assets/images/intro-section-image.png');
}

.stf-nav-list-item:last-child .stf-nav-list-item-link {
    padding-right: 0;
}
