/*h1, .h1 {
    font-size: 48px;
}

h2, .h2 {
    font-size: 40px;
}
*/


/* bellota-text-regular - latin */
/*@font-face {
  font-family: 'Bellota Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bellota-text-v2-latin-regular.eot'); */
  /*src: local(''),*/
       /*url('../fonts/bellota-text-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bellota-text-v2-latin-regular.woff2') format('woff2'),
       url('../fonts/bellota-text-v2-latin-regular.woff') format('woff'),
       url('../fonts/bellota-text-v2-latin-regular.ttf') format('truetype'),
       url('../fonts/bellota-text-v2-latin-regular.svg#BellotaText') format('svg');*/
/*}*/

.font-roboto {
    font-family: 'Roboto';
}

.font-bellotta {
    font-family: 'Bellota', cursive;
}

.stf-text-shadow-white-top-left {
    text-shadow: -1px -1px 0px rgba(255, 255, 255);
}

.stf-text-shadow-gray-bottom-right {
    text-shadow: 1px 1px 0px rgb(24, 96, 112);
}
