.font-roboto {
    font-family: 'Roboto';
}

.font-bellotta {
    font-family: 'Bellota', cursive;
}

.stf-text-shadow-white-top-left {
    text-shadow: -1px -1px 0px rgba(255, 255, 255);
}

.stf-text-shadow-darkblue-bottom-right {
    text-shadow: 1px 1px 0px rgba(54, 104, 120, 1);
}
